/* .fade-anim img {
    animation: fadeAnim 0.5s ease-out;
  } */
  @keyframes fadeAnim {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;